<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ayudantes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="profile-content">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Encuentra Ayudantes</ion-title>
    </ion-toolbar>
  </ion-header>

 
  <ion-card>
    <img alt="Silhouette of mountains" src="https://media.licdn.com/dms/image/v2/D4E03AQHMxLEAAnpamg/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1725820720454?e=1731542400&v=beta&t=LqxsfLyHZ8QmwAhRFN6RJezdfm3li_0lhvBerwkCcJg" />
    <ion-card-header>
      <ion-card-title>Gustavo Roldan</ion-card-title>
      <ion-card-subtitle>Estudiante de 2do año</ion-card-subtitle>
      <ion-card-subtitle>Precio: $5000/Sesion</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Con conocimientos de Python, SQL, Java, HTML, Robloxito
    </ion-card-content>
    <ion-button fill="clear" (click)="IrAEnviarMensaje()">Enviar Mensaje</ion-button>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://media.licdn.com/dms/image/v2/D4D03AQFBZ592LxKK8w/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1697071904218?e=1731542400&v=beta&t=_JpinTiWPU3Jg0-Rp4jJewW-ebgOTCtkzFceZHWLyE0" />
    <ion-card-header>
      <ion-card-title>Nicolas Hernandez</ion-card-title>
      <ion-card-subtitle>Estudiante de 2do año</ion-card-subtitle>
      <ion-card-subtitle>Precio: $6000/Sesion</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Con conocimientos de Python, SQL, Java, HTML
    </ion-card-content>
    <ion-button fill="clear" (click)="IrAEnviarMensaje()">Enviar Mensaje</ion-button>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://media.licdn.com/dms/image/v2/D4D03AQF7c0jCW3rONQ/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1697080503511?e=2147483647&v=beta&t=7PLq-VD5Jt9WjCoBnua1umssNYPnl8Le1KnoxUVM3Fs" width="600"/>
    <ion-card-header>
      <ion-card-title>Luciano Tejeda</ion-card-title>
      <ion-card-subtitle>Estudiante de 2do año</ion-card-subtitle>
      <ion-card-subtitle>Precio: $4444/Sesion</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Con conocimientos de Python, SQL, Java, HTML, ADC, Fragger
    </ion-card-content>
    <ion-button fill="clear" (click)="IrAEnviarMensaje()">Enviar Mensaje</ion-button>
  </ion-card>
</ion-content>
