ion-content {
    --background: #0000; 
  
  }
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; 
  }
  
  ion-item {
    width: 90%; 
    margin-bottom: 15px; 
    
  }
  
  
  .botonlogin {
    margin-left: 40px;
    width: 60%;
    --background: #792983; 
    --border-radius: 20px; 
    --padding-start: 10px;
    --padding-end: 15px;
  }
  .registrarboton{
    margin-left: 40px;
    width: 60%;
    --background: #792983; 
    --border-radius: 20px; 
    --padding-start: 10px;
    --padding-end: 15px;
  }
  
  h1 {
    text-align: center; 
    color: #792983;
    font-family: 'Roboto', sans-serif;
  }
  .forgot-password-link {
    color: #792983; 
    margin-left: 20px;
  }
  .usercampo{
    margin-left: 40px;
    width: 90%;
  }
  .usercontra{
    margin-left: 50px;
    width: 90%;
  }
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%; 
    margin-top: 20px;
    height: auto; 
  }
.Textoinicio{
  margin-top: 40px;
  text-align: center;
  }