
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="image-container">
    <img src="\assets\logo.png" alt="StudyHub logo" width="250"/>
  </div>

  <h1>Bienvenido a StudyHub</h1>
  <div class="Textoinicio">
    <p>Conéctate con expertos y compañeros para potenciar tu aprendizaje y ofrecer tu ayuda.</p>
    <p>¡Tu camino hacia el conocimiento comienza aquí!</p>
  </div>

  <div class="form-container">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Usuario/Correo</ion-label>
        <ion-input id="username"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input id="password" type="password"></ion-input>
      </ion-item>
    </ion-list>

    <ion-button id="loginButton" class="botonlogin" expand="block">Iniciar Sesión</ion-button>
    <ion-button class="registrarboton" expand="block">Regístrate</ion-button>

    <ion-item lines="none">
      <a class="olvidarclave">Olvidé mi contraseña</a>
    </ion-item>
  </div>
</ion-content>
